

<!-- desktop view -->
<div class="rows" id="bioContainer">
  <h2 class="animated bounceInLeft bioHeaders"> Bio </h2>
    <div class="col-md-12 animated zoomIn bioBackground">
      <div class="col-md-2"></div>
      <div class="col-md-8" id="descriptionContainer">
        <p class="animated zoomIn col-md-12">
          I am a Electronics/Software Specialist that has been working in the Oil and Natural Resource Industry.
          For the last 3 years, I was a Supervisor and Traveling Tech for Det-Tronics where I built and completed
          onsite installation of hazardous location fire and gas industrial safety systems.
        </p>
        <p class="animated zoomIn col-md-12">
          My ability to think differently or “out side the box”, has allowed me to scale up through organizations fast and has made me an asset to all of my pervious employers.
          I enjoy being challenged and working on projects that require me to work outside my comfort and knowledge set.
          Continuous knowledge growth is something that I am passionate about.
          For example, I recently decided to take a new journey in life by attending Prime Digital Academy where I recently graduated with a Full Stack Software Engineering certificate.
        </p>
        <!-- <p class="col-md-12">
          Chris is NICET Certified, an ACE Associate and was a Det-Tronics Safety Committee Member and is also certified in CRP, AED, First Aide and Blood Born Pathogens.
          He has an Associates degree in Electrical Line Work / High Voltage and is also actively pursuing a Software Development Certificate from Prime Digital Academy.
        </p> -->
      </div>
      <div class="col-md-2"></div>
    </div>
</div>
