
  <div class="rows">
    <h2 class="bioHeaders"> Bio </h2>
      <div class="col-md-12">
        <p class="col-md-12">
          Chris is a Electronics/Software Specialist that has been working in the Oil and Natural Resource Industry.
          For the last 3 years, Chris was a Supervisor and Traveling Tech for Det-Tronics where he built and completed
          onsite installation of hazardous location fire and gas industrial safety systems.
        </p>
        <p class="col-md-12">
          Chris’ ability to think differently or “out side the box”, has allowed him to scale up through organizations fast and has made him an asset to all of his pervious employers.
          He enjoys being challenged and working on projects that require him to work outside his comfort and knowledge set.
          Continuous knowledge growth is something that Chris is passionate about;
          For example, he recently decided to make a new journey in life by attending Prime Digital Academy where he recently recieved a Full Stack Software Engineering certificate.
        </p>
        <!-- <p class="col-md-12">
          Chris is NICET Certified, an ACE Associate and was a Det-Tronics Safety Committee Member and is also certified in CRP, AED, First Aide and Blood Born Pathogens.
          He has an Associates degree in Electrical Line Work / High Voltage and is also actively pursuing a Software Development Certificate from Prime Digital Academy.
        </p> -->
      </div>
  </div>
