
<!-- mobile view -->
  <div class="rows hidden-md hidden-lg hidden-xl" id="contactContainer">
    <div class="col-xs-8" id="contactInfo">
      <h2 class="contactHeadings"> Contact Information </h2>
        <div id="infoCard">
          <h4> Chris Stanton </h4>
            <h5> Minneapolis, Minnesota </h5>
              <div> Email: <span> cstanton0760@yahoo.com </span></div>
        </div>
    </div>
      <div class="col-xs-4" id="contactLink">
        <h2 class="contactHeadings"> Links </h2>
          <div id="iconCard">
            <div>
              <div><a href="https://github.com/chris-stanton"><img class="contactIcons" src="/assets/images/icons/gitHub.ico"> GitHub </a></div>
            </div>
            <div>
              <div><a href="https://www.linkedin.com/in/chris-stanton-590036139/"><img class="contactIcons" src="/assets/images/icons/linkedIn.ico"> LinkedIn </a></div>
            </div>
            <div>
              <div><a href="https://www.youtube.com/channel/UCAsEE-zT5JzyucSuWmupLxQ"><img class="contactIcons" src="/assets/images/icons/youTube.ico"> YouTube </a></div>
            </div>
          </div>
      </div>
  </div>
  <div class="rows hidden-md hidden-lg hidden-xl">
    <div class="col-xs-12" id="emailRedirectContainer">
      <h2 class="contactHeadings"> Contact Chris Using The In-App Emailer </h2>
        <div id="emailCard">
          <p>
            You can directly contact Chris using the in-app emailing feature. </br>
            <i>Click the mail icon below</i>.
          </p>
            <div><a href="#!email"><img id="contactEmailIcon" src="/assets/images/icons/email.ico"></a></div>
        </div>
    </div>
  </div>


<!-- desktop view -->
  <div class="rows hidden-xs hidden-sm" id="contactContainer">
    <div class="col-md-8" id="contactInfo">
      <h2 class="contactHeadings"> Contact Information </h2>
        <div id="infoCard">
          <h4> Chris Stanton </h4>
            <h5> Minneapolis, Minnesota </h5>
              <div> Email: <span> cstanton0760@yahoo.com </span></div>
        </div>
    </div>
      <div class="col-md-4" id="contactLink">
        <h2 class="contactHeadings"> Links </h2>
          <div id="iconCard">
            <div>
              <div><a href="https://github.com/chris-stanton"><img class="contactIcons" src="/assets/images/icons/gitHub.ico"> GitHub </a></div>
            </div>
            <div>
              <div><a href="https://www.linkedin.com/in/chris-stanton-590036139/"><img class="contactIcons" src="/assets/images/icons/linkedIn.ico"> LinkedIn </a></div>
            </div>
            <div>
              <div><a href="https://www.youtube.com/channel/UCAsEE-zT5JzyucSuWmupLxQ"><img class="contactIcons" src="/assets/images/icons/youTube.ico"> YouTube </a></div>
            </div>
          </div>
      </div>
  </div>
  <div class="rows hidden-xs hidden-sm">
    <div class="col-md-12" id="emailRedirectContainer">
      <h2 class="contactHeadings"> Contact Chris Using The In-App Emailer </h2>
        <div id="emailCard">
          <p>
            You can directly contact Chris using the in-app emailing feature. </br>
            <i>Click the mail icon below</i>.
          </p>
            <div><a href="#!email"><img id="contactEmailIcon" src="/assets/images/icons/email.ico"></a></div>
        </div>
    </div>
  </div>
