
<!-- desktop view -->
<div class="rows">
<!-- <h2 id="contactHeading" class="animated bounceInLeft"> Contact Information</h2> -->
<div class="col-md-12 animated zoomIn contactBackground">
  <div id="contactContainer">
    <div class="col-md-8 animated zoomIn" id="contactInfo">
      <h2 class="contactHeadings"> Contact Information </h2>
        <div id="infoCard">
          <h3> Christopher J. Stanton </h3>
            <h4> Minneapolis, Minnesota </h4>
              <h4> 952-465-6085 </h4>
                <h4> cstanton0760@yahoo.com </h4>
        </div>
    </div>
      <div class="col-md-4 animated zoomIn" id="contactLink">
        <h2 class="contactHeadings"> Social Media </h2>
          <div id="iconCard">
            <div>
              <div><a href="https://github.com/chris-stanton"><img class="contactIcons" src="/assets/images/icons/gitHub.ico"> GitHub </a></div>
            </div>
            <div>
              <div><a href="https://www.linkedin.com/in/chris-stanton-590036139/"><img class="contactIcons" src="/assets/images/icons/linkedIn.ico"> LinkedIn </a></div>
            </div>
            <div>
              <div><a href="https://www.youtube.com/channel/UCAsEE-zT5JzyucSuWmupLxQ"><img class="contactIcons" src="/assets/images/icons/youTube.ico"> YouTube </a></div>
            </div>
          </div>
      </div>
  </div>
  <div class="rows hidden-xs hidden-sm">
    <div class="col-md-12 animated zoomIn" id="emailRedirectContainer">
      <h2 class="contactHeadings"> Contact Chris Using The In-App Emailer </h2>
        <div id="emailCard">
          <h4>
            You can directly contact Chris using the in-app emailing feature. </br>
            <i>Click the mail icon below</i>.
          </h4>
            <div class="animated rotateIn"><a href="#!email"><img id="contactEmailIcon" src="/assets/images/icons/email.ico"></a></div>
        </div>
    </div>
  </div>
</div>
</div>
