
  <div>
    <table id="devIconTable">
      <tr id="devIconTr">
        <td><img class="devIcons" src="/assets/images/icons/angular.ico"></td>
        <td><img class="devIcons" src="/assets/images/icons/firebase.ico"></td>
        <td><img class="devIcons" src="/assets/images/icons/git.ico"></td>
        <td><img class="devIcons" src="/assets/images/icons/heroku.ico"></td>
        <td><img class="devIcons" src="/assets/images/icons/html.ico"></td>
        <td><img class="devIcons" src="/assets/images/icons/jQuery.ico"></td>
        <td><img class="devIcons" src="/assets/images/icons/mongodb.ico"></td>
        <td><img class="devIcons" src="/assets/images/icons/node.ico"></td>
        <td><img class="devIcons" src="/assets/images/icons/npm.ico"></td>
        <td><img class="devIcons" src="/assets/images/icons/sql.ico"></td>
      </tr>
    </table>
  </div>
