
  <div>
    <table id="devIconTable">
      <tr id="devIconTr">
        <td><a href="https://angularjs.org/"><img class="devIcons" src="/assets/images/icons/angular.ico"></a></td>
        <td><a href="https://firebase.google.com/"><img class="devIcons" src="/assets/images/icons/firebase.ico"></a></td>
        <td><a href="https://git-scm.com/"><img class="devIcons" src="/assets/images/icons/git.ico"></a></td>
        <td><a href="https://www.heroku.com/"><img class="devIcons" src="/assets/images/icons/heroku.ico"></a></td>
        <td><a href="https://en.wikipedia.org/wiki/HTML5"><img class="devIcons" src="/assets/images/icons/html.ico"></a></td>
        <td><a href="https://jquery.com/"><img class="devIcons" src="/assets/images/icons/jQuery.ico"></a></td>
        <td><a href="https://www.mongodb.com/"><img class="devIcons" src="/assets/images/icons/mongodb.ico"></a></td>
        <td><a href="https://nodejs.org/en/"><img class="devIcons" src="/assets/images/icons/node.ico"></a></td>
        <td><a href="https://www.npmjs.com/"><img class="devIcons" src="/assets/images/icons/npm.ico"></a></td>
        <td><a href="https://en.wikipedia.org/wiki/SQL"><img class="devIcons" src="/assets/images/icons/sql.ico"></a></td>
      </tr>
    </table>
  </div>
