
  <div>
    <div class="rows">
      <h2 id="emailHeading"> Email Chris </h2>
        <div id="emailInputContainer" class="col-md-3">
          <div>
            <label> Email:
              <input id="emailInput" class="form-control" type="email" placeholder="*">
            </label>
          </div>
          <div>
            <label> Title:
              <textarea class="form-control" rows="3" cols="50" type="text"></textarea>
            </label>
          </div>
          <div>
            <label> Message:
              <textarea class="form-control" rows="8" cols="50" type="text"></textarea>
            </label>
          </div>
        <div id="sendButton">
          <button  type="button"> Send Email </button>
        </div>
      </div>
    </div>
  </div>
