
  <div>
    <div class="rows">
      <h2 id="emailHeading"> Email Chris </h2>
        <div id="emailInputContainer" class="col-md-3">
          <div>
            <label> Email:
              <input ng-model="ec.email.userAddress" class="form-control" type="text" placeholder="*">
            </label>
          </div>
          <div>
            <label> Title:
              <textarea ng-model="ec.email.title" class="form-control" rows="3" cols="50" type="text"></textarea>
            </label>
          </div>
          <div>
            <label> Message:
              <textarea ng-model="ec.email.message" class="form-control" rows="8" cols="50" type="text"></textarea>
            </label>
          </div>
        <div id="sendButton">
          <button ng-click="ec.sendEmail(ec.email)" type="button"> Send Email </button>
        </div>
      </div>
    </div>
  </div>
