
<!-- mobile view -->
<div class="rows hidden-md hidden-lg hidden-xl">
  <h2 id="emailHeading"> Email Chris </h2>
  <div class="col-xs-12">
    <h2 class="emailHeading"> Directions </h2>
      <p id="emailDescription"><img class="emailImage" src="assets/images/icons/sendEmail.ico">
        I would like to thank you for showing interest in me.  If you have any questions, comments or concerns please
        feel free to contact me via the information perviously provided.
        For your convienance, you can email me directly using the, in app, email service to the right.
        If your using the in app service, include your Email Address, Title and a Message.  Once entries are completed, click
        'Send Email' button.
      </p>
  </div>
  <div class="col-xs-3">
    <!-- <img src="assets/images/icons/sendEmail.ico" alt=""> -->
  </div>
  <div class="col-xs-6">
    <h2 class="emailHeading"> Email Chris </h2>
      <div id="emailInputContainer">
        <div>
          <label> Email:
            <input ng-model="ec.email.userEmail" type="text" class="form-control">
          </label>
        </div>
        <div>
          <label> Title:
            <textarea ng-model="ec.email.subject" class="form-control" rows="3" cols="50" type="text"></textarea>
          </label>
        </div>
        <div>
          <label> Message:
            <textarea ng-model="ec.email.message" class="form-control" rows="8" cols="50" type="text"></textarea>
          </label>
        </div>
        <div>
          <button ng-click="ec.sendEmail(ec.email)" id="sendButton" class="btn-primary" type="button"> Send Email </button>
        </div>
      </div>
  </div>
  <div class="col-xs-3">
  </div>
</div>


<!-- desktop view -->
<div class="rows hidden-xs hidden-sm">
  <h2 id="emailHeading"> Email Chris </h2>
  <div class="col-md-12 emailBackground">
    <div class="col-md-8">
      <h2 class="emailHeading"> Directions </h2>
        <div id="emailDescription">
          <img class="col-md-3 emailImage" src="assets/images/icons/sendEmail.ico">
            <p class="col-md-17">
              I would like to thank you for showing interest in me.  If you have any questions, comments or concerns please
              feel free to contact me via the information perviously provided.
              For your convienance, you can email me directly using the, in app, email service to the right.
              If your using the in app service, include your Email Address, Title and a Message.  Once entries are completed, click
              'Send Email' button.
            </p>
        </div>
    </div>
    <div class="col-md-4">
      <h2 class="emailHeading"> Email Chris </h2>
        <div id="emailInputContainer">
          <div>
            <label> Email:
              <input ng-model="ec.email.userEmail" type="text" class="form-control">
            </label>
          </div>
          <div>
            <label> Title:
              <textarea ng-model="ec.email.subject" class="form-control" rows="3" cols="50" type="text"></textarea>
            </label>
          </div>
          <div>
            <label> Message:
              <textarea ng-model="ec.email.message" class="form-control" rows="8" cols="50" type="text"></textarea>
            </label>
          </div>
          <div>
            <button ng-click="ec.sendEmail(ec.email)" id="sendButton" class="btn-primary" type="button"> Send Email </button>
          </div>
        </div>
    </div>
  </div>
</div>
