
<!-- Mobile view -->
  <div class="rows hidden-md hidden-lg hidden-xl">
    <div class="col-xs-12" id="homeHeader">
      <h1 id="homeName" class="animated bounceInLeft"> Christopher J. Stanton </h1>
        <h4 id="homeDeveloper" class="animated bounceInRight"> Full Stack Software Developer </h4>
    </div>
    <div class="col-xs-12 animated zoomIn" id="homeBackground">
      <div class="col-xs-12">
        <div class="col-xs-2"></div>
        <div class="col-xs-8" id="homeDescription">
          <p class="animated zoomIn homePar">
            My name is Christopher Stanton, I'm a full stack Web Developer from Minneapolis, Minnesota.
            I am lucky to be able to say that I have found a career that is exciting and personally rewarding.
            It gives me the oppertunity to express my creativity and communicate with clients all over the world.
            I recently graduated from Prime Academy where I studied Computer Development. Everyday I try to discover new ways of development and to improve my skills.
          </p>
          <p class="homePar">
            At the moment, I am currently working in full stack Web Development and am primarily writing code using the MEAN stack (MongoDb/SQL, Express.js, Angular.js and Node.js).
            I've found that I enjoy all aspects of computer developemnt, but my passion is in server side development.
          </p>
        </div>
        <div class="col-xs-2"></div>
      </div>
    </div>
  </div>


<!-- desktop view -->
  <div class="rows hidden-xs hidden-sm">
    <div class="col-md-12" id="homeHeader">

      <div class="col-md-2 animated lightSpeedIn bracesLeft"> { </div>
      <div class="col-md-8">
        <h1 id="homeName" class="animated bounceInLeft"> Christopher J. Stanton </h1>
          <h4 id="homeDeveloper" class="animated bounceInRight"> Full Stack Software Developer </h4>
      </div>
      <div class="col-md-2 animated lightSpeedIn bracesRight"> } </div>
    </div>

    <div class="col-md-12 animated zoomIn" id="homeBackground">
      <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="homeDescription">
          <p class="animated zoomIn homePar">
            My name is Christopher Stanton, I'm a full stack Web Developer from Minneapolis, Minnesota.
            I am lucky to be able to say that I have found a career that is exciting and personally rewarding.
            It gives me the oppertunity to express my creativity and communicate with clients all over the world.
            I recently graduated from Prime Academy where I studied Computer Development. Everyday I try to discover new ways of development and to improve my skills.
          </p>
          <p class="animated zoomIn homePar">
            At the moment, I am currently working in full stack Web Development and am primarily writing code using the MEAN stack (MongoDb/SQL, Express.js, Angular.js and Node.js).
            I've found that I enjoy all aspects of computer developemnt, but my passion is in server side development.
          </p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
