

<!-- desktop view -->
<div class="rows">
  <div class="col-md-12 homeContainer">

    <div class="col-md-12 homeHeader">
      <h1 class="homeName animated bounceInLeft"> Christopher J. Stanton </h1>
        <h4 class="homeDeveloper animated bounceInRight"> Full Stack Software Developer </h4>
    </div>

    <div class="col-md-12 homeIntro">
      <div class="col-md-2">

      </div>
      <div>
        <p class="animated zoomIn col-md-8">
          Recently, a graduate from a Twin Cities local Software Development School, I'm becoming a lean M.E.A.N. software developing
          machine. I'm in love the junction of function and design, I always try to season my reasons with some rhymes.
        </p>
      </div>
      <div class="col-md-2">

      </div>
    </div>

    <div class="col-md-12 homeIcon">
      <table id="devIconTable">
        <tr class="animated flipInX">
          <td class="animated rotateIn"><a href="https://angularjs.org/"><img id="devIconAngular" src="/assets/images/icons/angular.ico"></a></td>
          <td class="animated rotateIn"><a href="https://firebase.google.com/"><img id="devIconFirebase" src="/assets/images/icons/firebase.ico"></a></td>
          <td class="animated rotateIn"><a href="https://git-scm.com/"><img id="devIconGit" src="/assets/images/icons/git.ico"></a></td>
          <td class="animated rotateIn"><a href="https://www.heroku.com/"><img id="devIconHeroku" src="/assets/images/icons/heroku.ico"></a></td>
          <td class="animated rotateIn"><a href="https://en.wikipedia.org/wiki/HTML5"><img id="devIconHtml" src="/assets/images/icons/html.ico"></a></td>
          <td class="animated rotateIn"><a href="https://jquery.com/"><img id="devIconJquery" src="/assets/images/icons/jQuery.ico"></a></td>
          <td class="animated rotateIn"><a href="https://www.mongodb.com/"><img id="devIconMongodb" src="/assets/images/icons/mongodb.ico"></a></td>
          <td class="animated rotateIn"><a href="https://nodejs.org/en/"><img id="devIconNode" src="/assets/images/icons/node.ico"></a></td>
          <td class="animated rotateIn"><a href="https://www.npmjs.com/"><img id="devIconNpm" src="/assets/images/icons/npm.ico"></a></td>
          <td class="animated rotateIn"><a href="https://en.wikipedia.org/wiki/SQL"><img id="devIconSql" src="/assets/images/icons/sql.ico"></a></td>
          <td class="animated rotateIn"><a href="https://expressjs.com/"><img id="devIconExpress" src="/assets/images/icons/express.ico"></a></td>
        </tr>
      </table>
    </div>

    <div class="col-md-12 addInfo">
      <div class="col-md-12">


      </div>
      <div class="col-md-12">
        <table>
          <tr>
            <div class="col-md-6 animated slideInLeft">
              <h5 class="imageTitle"> Portfolio </h5>
              <a href="https://chris-stanton-portfolio.herokuapp.com/"><img class="appImages" src="/assets/images/apps/portfolio.png"> </a>
            </div>
          </tr>
          <tr>
            <div class="col-md-6 animated slideInRight">
              <h5 class="imageTitle"> Fishing Rod Wrap Designer </h5>
              <a href="https://wrap-designer.herokuapp.com/"><img class="appImages" src="/assets/images/apps/wrap-designer.png"> </a>
            </div>
          </tr>
          <tr>
            <div class="col-md-6 animated slideInLeft">
              <h5 class="imageTitle"> Fruit Market Game </h5>
              <a href="https://chris-stanton-fruit-market.herokuapp.com/"><img class="appImages" src="/assets/images/apps/fruit-market.png"> </a>
            </div>
          </tr>
          <tr>
            <div class="col-md-6 animated slideInRight">
              <h5 class="imageTitle"> GitHub </h5>
              <a href="https://github.com/chris-stanton"><img class="appImages" src="/assets/images/apps/git-hub.png"> </a>
            </div>
          </tr>
        </table>
      </div>

      <div class="col-md-12 animated slideInUp homeContact">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <h4> Christopher Stanton </h4>
          <h4> 15733 Fremont Way </h4>
          <h4> Apple Valley MN, 55124 </h4>
          <h4> cstanton0760@yahoo.com </h4>
          <h4> 952-465-6085 </h4>
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>

  </div>
</div>
