
<!-- Mobile view -->
  <div class="rows hidden-md hidden-lg hidden-xl">
    <div class="col-xs-12" id="homeHeader">
      <h1 id="homeName"> Chris Stanton </h1>
        <h4 id="homeDeveloper"> Full Stack Software Developer </h4>
    </div>
    <div class="col-xs-12" id="homeBackground">
      <div class="col-xs-12">
        <div class="col-xs-2"></div>
        <div class="col-xs-8" id="homeDescription">
          <p class="homePar">
            My name is Chris Stanton, I'm a full stack Web Developer from Minneapolis, Minnesota.
            My job is my biggest passion (this is really cool, don't you think?). I love design and developing web apps because I think that this is a beatiful way to express creativity and communicate with people all over the world.
            I studied Computer Development at Prime Digital Academy, but every day I try to discover new ways of development and new ways to improve my skills: coding is my life!
          </p>
          <p class="homePar">
            At the moment, I am currently working in full stack Web Development and am primarily writing code using the MEAN stack (MongoDb/SQL, Express.js, Angular.js and Node.js).
            I've found that I love all aspects of computer developemnt, but my passion is in server side development.
          </p>
        </div>
        <div class="col-xs-2"></div>
      </div>
    </div>
  </div>


<!-- desktop view -->
  <div class="rows hidden-xs hidden-sm">
    <div class="col-md-12" id="homeHeader">
      <h1 id="homeName"> Chris Stanton </h1>
        <h4 id="homeDeveloper"> Full Stack Software Developer </h4>
    </div>
    <div class="col-md-12" id="homeBackground">
      <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="homeDescription">
          <p class="homePar">
            My name is Chris Stanton, I'm a full stack Web Developer from Minneapolis, Minnesota.
            My job is my biggest passion (this is really cool, don't you think?). I love design and developing web apps because I think that this is a beatiful way to express creativity and communicate with people all over the world.
            I studied Computer Development at Prime Digital Academy, but every day I try to discover new ways of development and new ways to improve my skills: coding is my life!
          </p>
          <p class="homePar">
            At the moment, I am currently working in full stack Web Development and am primarily writing code using the MEAN stack (MongoDb/SQL, Express.js, Angular.js and Node.js).
            I've found that I love all aspects of computer developemnt, but my passion is in server side development.
          </p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
