

<!-- desktop view -->
<div class="rows" id="resumeContainer">
  <!-- <h2 id="resumeHeader" class="animated bounceInLeft"> Resume </h2> -->
      <div class="col-md-12">
        <h3 class="resumeHeadings animated slideInLeft"> Objective </h3>
          <p class="animated lightSpeedIn" id="objectiveP">
            To obtain a position that utilizes my electro-mechanical, problem solving, software development and supervision skills </br> in order
            to grow my Development career with a well-established company
          </p>
        <h3 class="resumeHeadings animated slideInLeft"> Qualifications </h3>
          <div class="rows resumeQual animated lightSpeedIn">
            <div class="col-md-6">
              <table>
                <tr class="">
                  <div class="qualificationsDiv">
                    <img src="/assets/images/icons/mean.ico" class="resumeIcons">
                      MEAN full stack web development
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                    <img src="/assets/images/icons/angular.ico" class="resumeIcons">
                      Angular
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                    <img src="/assets/images/icons/express.ico" class="resumeIcons">
                      Express
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                    <img src="/assets/images/icons/node.ico" class="resumeIcons">
                      Node
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                    <img src="/assets/images/icons/javascript.ico" class="resumeIcons">
                      Javascript
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                    <img src="/assets/images/icons/jQuery.ico" class="resumeIcons">
                      jQuery
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                    <img src="/assets/images/icons/sql.ico" class="resumeIcons">
                      Sql
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                    <img src="/assets/images/icons/mongodb.ico" class="resumeIcons">
                      MongoDb
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                    <img src="/assets/images/icons/heroku.ico" class="resumeIcons">
                      Heroku
                  </div>
                </tr>
              </table>
            </div>
            <div class="col-md-6">
              <table>
                <tr>
                  <div class="qualificationsDiv">
                    <img src="/assets/images/icons/git.ico" class="resumeIcons"> Git / GitHub
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                    Electronic/Mechanical/Software knowledge: Wiring, Voltage Calculating
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                    Schematic/CAD drafting
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                    Logic programming
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                    Strong attention to detail
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                    Mac/PC and hand/power tool experience
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                   Leadership skills
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                   Problem solving skills
                  </div>
                </tr>
                <tr>
                  <div class="qualificationsDiv">
                   Preformed onsite tech support
                  </div>
                </tr>
              </table>
            </div>
      </div>

      <div id="resumeEmploymentContainer">
        <h3 class="resumeHeadings animated slideInLeft"> Employment </h3>

          <div class="col-md-2 jobCards animated lightSpeedIn">
            <p>
              <a href="http://www.dhcustomrods.com/" title="www.dhcustomrods.com">
              <strong> DH Custom Rods & Tackle: </strong></a><em> 2015-Present </em></br>
              Wayzata, Minnesota</br>
              952-471-7637
            </p>
              <div> Fishing Rod Builder: </div>
                <ul>
                  <li> Fishing rod builder/wrapper </li>
                  <li> Custom weaves and wraps </li>
                  <li> Offer customer support </li>
                  <li> Lead quarterly rod building seminars </li>
                </ul>
          </div>

          <div class="col-md-2 jobCards animated lightSpeedIn">
            <p>
              <a href="http://www.det-tronics.com/Pages/Home.aspx" title="www.Det-Tronics.com">
              <strong> Detector Electronics (UTC): </strong></a><em> 2013-2016 </em></br>
              Bloomington, Minnesota </br>
              952-941-5665
            </p>
              <div> Supervisor </div>
                <ul>
      	          <li> Responsible for quality control </li>
                  <li> Write work instructions / workmanship procedures </li>
    	            <li> In charge of all projects within the department </li>
      	          <li> Blueprint reading and editing </li>
      	          <li> Technical support </li>
                  <li> Ordered parts </li>
    	            <li> Build and wire large electrical panels </li>
    	            <li> Safety committee member </li>
      	          <li> ACE Associate </li>
      	          <li> Created Manufacturing and Logic Procedures </li>
                  <li> Standardized the Product Line </li>
    	          </ul>
          </div>

          <div class="col-md-2 jobCards animated lightSpeedIn">
            <p>
              <a href="http://www.paragonrestoration2.com" title="www.ParagonRestoration2.com">
              <strong> Paragon Restoration 2: </strong></a><em> 2010-2013 </em></br>
              Prior Lake, Minnesota </br>
              952-941-5665
            </p>
              <div> Foreman: </div>
     		        <ul>
     	            <li> Managed 5-15 workers daily </li>
     	            <li> Responsible for jobs being completed correctly and on time </li>
     	            <li> Followed OSHA requirements </li>
     	            <li> Maintained a safe work environment </li>
     	            <li> Certified Trainer </li>
                </ul>
     		      <div> Laborer: </div>
     		        <ul>
     	            <li> Ran and maintained heavy machinery / tools </li>
     	            <li> Concrete finisher </li>
     	            <li> Rebar mat construction </li>
                <li> Performed general concrete demolition and repair duties </li>
 	              <li> Installation of shoring supports </li>
             </ul>
          </div>

          <div class="col-md-2 jobCards animated lightSpeedIn">
              <p>
                <strong> R Swanson Construction: </strong><em> 2009-2010 </em></br>
                Cross Lake, Minnesota </br>
                612-636-9663
              </p>
                <div> Foreman: </div>
   		            <ul>
   	                <li> Performed general residential home remodel / repairs </li>
   	                <li> Followed all safety requirements for mold removal </li>
   	                <li> Managed 2-7 laborers daily </li>
   	                <li> Maintained a safe work enviroment </li>
                  </ul>
          </div>

          <div class="col-md-2 jobCards animated lightSpeedIn">
            <p>
              <strong> Sub Zero Sounds: </strong><em> 2003-2009 </em></br>
              Fridley, Minnesota </br>
              763-693-1835
            </p>
              <div> Shop Supervisor: </div>
     		        <ul>
     	            <li> Ordered product/supplies </li>
     	            <li> Sales </li>
                  <li> Troubleshooting / Tech Support </li>
  	              <li> Shipping and receiving </li>
  	              <li> Lead custom installer </li>
     	            <li> Inspector of all installations done within Sub Zero Sounds </li>
                </ul>
              <div> Basic Installer: </div>
     	          <ul>
     	            <li> Performed installations of car alarms / remote starters, speakers, amp and video monitors </li>
                  <li> Knowledge of 6, 12, 24 and 48 volt DC electrical systems </li>
   	              <li> MECP Certified </li>
                </ul>
          </div>
      </div>
    </div>

    <div class="col-md-12 animated zoomIn" id="resumeEducationContainer">
      <h3 class="resumeHeadings animated slideInLeft"> Education </h3>
          <p class="resumeEducation animated lightSpeedIn">
            <strong><a href="https://primeacademy.io/">
            Prime Digital Coding Academy: </a></strong><em> 2017-2017 </em></br>
            Bloomington, Minnesota </br>
            Full Stack Software Engineering Certificate
          </p>
          <p class="resumeEducation animated lightSpeedIn">
            <strong><a href="https://http://www.dctc.edu/">
            Dakota County Technical College: </a></strong><em> 2009-2011 </em></br>
            Rosemount, Minnesota </br>
            Electrical Lineworker Degree - Associates Degree
          </p>
          <p class="resumeEducation animated lightSpeedIn">
            <strong><a href="http://isd194.org/lakeville-north/">
            Lakeville Senior High School: </a></strong><em> 2001-2003 </em></br>
            Lakeville, Minnesota </br>
            High School Diploma
          </p>
    </div>
</div>
