<div class="headerDiv">
  <table>
    <tr>
      <td>
        <div>
          <!-- reverts to email view will want to change once nodemailer is running -->
          <a href="#!email"><img class="icon" src="/assets/images/icons/email.ico"></a>
        </div>
      </td>
      <td>
        <div>
          <img id="faceImage" src="/assets/images/faceShot.jpg">
          <h2> Chris Stanton </h2>
        </div>
      </td>
      <td>
        <div id="links">
          <a href="https://github.com/chris-stanton"><img class="icon" src="/assets/images/icons/gitHub.ico"></a><br>
          <a href="https://www.linkedin.com/in/chris-stanton-590036139/"><img class="icon" src="/assets/images/icons/linkedIn.ico"></a><br>
          <a href="https://www.youtube.com/channel/UCAsEE-zT5JzyucSuWmupLxQ"><img class="icon" src="/assets/images/icons/youTube.ico"></a>
        </div>
      </td>
    </tr>
  </table>
</div>
