

  <header>
    <div class="rows">
      <div class="col-md-4">
        <!-- code here -->
      </div>
    </div>
    <div class="rows">
      <h2 class="col-md-4 nameHeading"> Christopher J. Stanton </h2>
    </div>
    <div class="rows linksContainer">
      <div class="col-md-4">
        <a href="https://github.com/chris-stanton"><img class="icons" src="/assets/images/icons/gitHub.ico"></a>
        <a href="https://www.linkedin.com/in/chris-stanton-590036139/"><img class="icons" src="/assets/images/icons/linkedIn.ico"></a>
        <a href="https://www.youtube.com/channel/UCAsEE-zT5JzyucSuWmupLxQ"><img class="icons" src="/assets/images/icons/youTube.ico"></a>
        <a href="#!email"><img class="icons animated infinite pulse" src="/assets/images/icons/email.ico"></a>
      </div>
    </div>
  </header>
