<div class="headerDiv">
  <div>
    <img id="faceImage" src="/assets/images/faceShot.jpg">
    <h2> Chris Stanton </h2>
  </div>

  <div id="links">
    <a href="https://github.com/chris-stanton"><img class="icon" src="/assets/images/icons/gitHub.ico"></a><br>
    <a href="https://www.linkedin.com/in/chris-stanton-590036139/"><img class="icon" src="/assets/images/icons/linkedIn.ico"></a><br>
    <a href="https://www.youtube.com/channel/UCAsEE-zT5JzyucSuWmupLxQ"><img class="icon" src="/assets/images/icons/youTube.ico"></a>
  </div>
</div>
