

  <div class="navContainer">
    <div class="rows" class="nav">
      <div class="col-md-2 navButtons animated rubberBand"><a class="navButtonColor" href="#!home"> Home </a></div>
      <div class="col-md-3 navButtons animated rubberBand"><a class="navButtonColor" href="#!bio"> Bio </a></div>
      <div class="col-md-2 navButtons animated rubberBand"><a class="navButtonColor" href="#!resume"> Resume </a></div>
      <div class="col-md-3 navButtons animated rubberBand"><a class="navButtonColor" href="#!development"> Software Development </a></div>
      <div class="col-md-2 navButtons animated rubberBand"><a class="navButtonColor" href="#!contact"> Contact </a></div>
    </div>
  </div>
