
<!-- mobile view -->
  <div id="navContainer">
    <div class="rows hidden-md hidden-lg hidden-xl" class="nav">
      <div class="col-xs-2 navButtons"><a class="navButtonColor" href="#!home"> Home </a></div>
      <div class="col-xs-3 navButtons"><a class="navButtonColor" href="#!bio"> Bio </a></div>
      <div class="col-xs-2 navButtons"><a class="navButtonColor" href="#!resume"> Resume </a></div>
      <div class="col-xs-3 navButtons"><a class="navButtonColor" href="#!development"> Software Development </a></div>
      <div class="col-xs-2 navButtons"><a class="navButtonColor" href="#!contact"> Contact </a></div>
    </div>
  </div>


<!-- desktop view -->
  <div id="navContainer">
    <div class="rows hidden-xs hidden-sm" class="nav">
      <div class="col-md-2 navButtons"><a class="navButtonColor" href="#!home"> Home </a></div>
      <div class="col-md-3 navButtons"><a class="navButtonColor" href="#!bio"> Bio </a></div>
      <div class="col-md-2 navButtons"><a class="navButtonColor" href="#!resume"> Resume </a></div>
      <div class="col-md-3 navButtons"><a class="navButtonColor" href="#!development"> Software Development </a></div>
      <div class="col-md-2 navButtons"><a class="navButtonColor" href="#!contact"> Contact </a></div>
    </div>
  </div>
