
/*////////////////////////
//        HEADER        //
////////////////////////*/

header {
  height: 250px;
  background-image: url('/assets/images/header.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

#nameHeading {
  text-align: center;
  font-family: fantasy;
  font-size: 62px;
  margin-top: 40px;
}

.headingEmail {
  text-align: center;
}

.icons {
  height: 8%;
  width: 8%;
  margin: 5px 10px 5px 0px;
  text-align: right;
}

.iconsXl {
  height: 8%;
  width: 8%;
  margin: 5px 10px 5px 0px;
  text-align: right;
}

.icons:hover {
  height: 13%;
  width: 13%;
  margin: 0px 15px 10px 0px;
}

#links {
  text-align: right;
}

#linksXl {
  text-align: right;
  margin-bottom: 10px;
}




/*////////////////////////
//        NAV           //
////////////////////////*/

nav {
  /*background-color: #a6a5a5;*/
  height: 38px;
  outline: 2px solid;
  background-image: url('/assets/images/nav.png');
}

#navContainer {
  margin-top: -30px;
  text-align: center;
}

.nav {
  text-align: center;
  margin-top: 10px;
}

.navButtonColor {
  /*color: #330ee7;*/
  color: white;
  outline: none;
}

.navButtons {
  margin-top: 8px;
  padding-top: 2px;
  font-size: 17px;
  font-family: fantasy;
}

.navButtons:hover {
  font-family: fantasy;
  font-size: 20px;
  color: white;
  outline: none;
}

.homePar {
  margin: 0px 0px 50px 0px;
}




/*////////////////////////
//        HOME          //
////////////////////////*/

#homeHeader {
  text-align: center;
  margin: 30px 0px 30px 0px;
}

#homeName {
  font-size: 60px;
}

#homeDeveloper {
  font-size: 30px;
  font-family: fantasy;
}

#homeBackground {
  background-image: url('/assets/images/stoneBrick.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px 0px 10px 0px;
  padding: 125px 0px 125px 0px;
}

#homeDescription {
  font-size: 25px;
  font-weight: bold;
  /*border: 5px solid black;*/
  /*border-radius: 10px;*/
  padding: 20px;
  color: black;
}






/*////////////////////////
//          BIO         //
////////////////////////*/

#bioContainer {

}

.bioBackground {
  background-image: url('/assets/images/stone.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 150px 0px 150px 0px;
  text-align: center;
}

.bioHeaders {
  text-align: center;
  margin: 30px 0px 60px 0px;
  font-size: 40px;
}

#descriptionContainer {
  text-align: center;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}







/*////////////////////////
//         RESUME       //
////////////////////////*/

#resumeContainer {
  margin: 30px 15px 0px 30px;
}

#resumeHeader {
  text-align: center;
  font-size: 40px;
}

.resumeQual {
  text-align: center;
}

#objectiveP {
  text-align: center;
}

#resumeEmploymentContainer {
  display: inline-block;
}

.jobCards {
  /*border: 2px solid black;*/
  /*border-radius: 10px;*/
  padding: 20px;
  display: inline-block;
  /*height: 675px;*/
  margin: 0px 13px 0px 13px;
}

#resumeEducationContainer {
  text-align: center;
}

.resumeHeadings {
  text-align: center;
  margin: 30px 0px 20px 0px;;
  border-bottom: 2px solid black;
}

.qualificationsDiv {
  margin: 10px 0px 10px 0px;
}

.resumeIcons {
  height: 30px;
  width: 30px;
}

.resumeEducation {
  display: inline-block;
  margin: 0px 25px 0px 25px;
}









/*////////////////////////
//      DEVELOPMENT     //
////////////////////////*/

.devHeading {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
}

#divHeading {
  text-align: center;
  margin-top: 30px;
}

.heading {
  text-align: center;
  /*font-family: fantasy;*/
  font-size: 25px;
}

#devHeadingMean {
  font-size: 20px;
}

#devIconTable {
  text-align: center;
  margin-top: 40px;
  height: 75px;
  /*background-color: gray;*/
}

#devIconAngular {
  height: 20%;
  width: 40%;
}

#devIconAngular:hover {
  height: 23%;
  width: 43%;
}

#devIconFirebase {
  height: 15%;
  width: 35%;
  margin: 0px -20px 0px -20px;
}

#devIconFirebase:hover {
  height: 18%;
  width: 38%;
  margin: 0px -20px 0px -20px;
}

#devIconGit {
  height: 12%;
  width: 33%;
  margin: 0px -50px 0px -50px;
}

#devIconGit:hover {
  height: 15%;
  width: 35%;
  margin: 0px -50px 0px -50px;
}

#devIconHeroku {
  height: 20%;
  width: 40%;
}

#devIconHeroku:hover {
  height: 23%;
  width: 43%;
}

#devIconHtml {
  height: 27%;
  width: 47%;
  margin: 0px 10px 0px 10px;
}

#devIconHtml:hover {
  height: 30%;
  width: 50%;
  margin: 0px 10px 0px 10px;
}

#devIconJquery {
  height: 18%;
  width: 38%;
}

#devIconJquery:hover {
  height: 21%;
  width: 41%;
}

#devIconMongodb {
  height: 15%;
  width: 35%;
  margin: 0px -45px 0px -45px;
}

#devIconMongodb:hover {
  height: 18%;
  width: 38%;
  margin: 0px -45px 0px -45px;
}

#devIconNode {
  height: 30%;
  width: 55%;
}

#devIconNode:hover {
  height: 33%;
  width: 58%;
}

#devIconNpm {
  height: 40%;
  width: 60%;
}

#devIconNpm:hover {
  height: 43%;
  width: 63%;
}

#devIconSql {
  height: 18%;
  width: 38%;
}

#devIconSql:hover {
  height: 21%;
  width: 41%;
}

#devIconExpress {
  height: 21%;
  width: 46%;
  margin-left: -25px;
}

#devIconExpress:hover {
  height: 23%;
  width: 48%;
}

#linkTableContainer {
  text-align: center;
  margin-top: 30px;
  display: inline-block;
}

.imageTitle {
  font-size: 18px;
  margin-top: 40px;
}

.appImages {
  width: 500px;
  height: 150px;
  display: inline-block;
  margin: 20px 0px 30px 0px;
  border-radius: 30px;
  border: 2px solid black;
}

.appImages:hover {
  width: 500px;
  height: 150px;
  display: inline-block;
  margin: 20px 0px 30px 0px;
  border-radius: 30px;
  border: 3px solid grey;
  box-shadow: 3px 3px 3px grey;
}






/*////////////////////////
//       CONTACT        //
////////////////////////*/

#contactHeading {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
}

.contactBackground {
  background-image: url('/assets/images/stone.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
  padding: 40px 0px 100px 0px;
}

#contactContainer {
  margin-top: 20px;
  text-align: center;
}

#contactInfo {
  text-align: center;
}

#infoCard {
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 15px;
  padding: 20px;
  height: 200px;
}

#contactLinks {
  text-align: left;
}

#iconCard {
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 15px;
  padding: 20px;
  height: 200px;
}

.contactIcons {
  text-align: center;
  height: 10%;
  width: 10%;
  margin: 10px 0px 10px 0px;
}

.contactIcons:hover {
  text-align: center;
  height: 12%;
  width: 12%;
  /*margin: 7px 20px 10px 0px;*/
}

#emailRedirectContainer {
  text-align: center;
  margin-top: 30px;
}

#emailCard {
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 15px;
  padding: 20px;
  height: 220px;
}

#contactEmailIcon {
  text-align: center;
  height: 8%;
  width: 8%;
  margin: 10px 0px 10px 0px;
}

#contactEmailIcon:hover {
  text-align: center;
  height: 10%;
  width: 10%;
  margin: 10px 0px 10px 0px;
}




/*////////////////////////
//        EMAIL         //
////////////////////////*/

#emailHeading {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
}

.emailBackground {
  margin-top: 40px;
  background-image: url('/assets/images/wood.png');
  padding: 25px 0px 60px 0px;
}

#emailInputContainer {
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 15px;
  padding: 20px;
}

.emailHeading {
  margin: 30px 0px 20px 0px;
  text-align: center;
  /*font-family: fantasy;*/
}

.emailImage {
  /*margin: 30px 0px 0px 400px;*/
  height: 25%;
  width: 25%;
}

#sendButton {
  border-radius: 8px;
  margin-top: 12px;
  outline: none;
}

#emailDescription {
  text-align: center;
  margin: 5px 60px 0px 60px;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
}





/*////////////////////////
//        FOOTER        //
////////////////////////*/

#footerContainer {
  text-align: center;
  background-color: #363434;
  color: white;
  padding: 25px 0px 25px 0px;
  margin-top: 70px;
}

#footerHeader {
  /*margin: 100px;*/
}
